.u-section-1 .u-sheet-1 {
  min-height: 16552px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  margin: 63px 6px 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.875rem;
  margin: 55px 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-5 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-6 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-7 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-8 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-image-1 {
  width: 1136px;
  height: 350px;
  margin: -11743px auto 0;
}

.u-section-1 .u-image-2 {
  height: 282px;
  margin-top: 30px;
  margin-bottom: 0;
}

.u-section-1 .u-image-3 {
  height: 258px;
  margin-top: 30px;
  margin-bottom: 0;
}

.u-section-1 .u-image-4 {
  height: 374px;
  margin-top: 30px;
  margin-bottom: 0;
}

.u-section-1 .u-image-5 {
  height: 1084px;
  margin-top: 360px;
  margin-bottom: 0;
}

.u-section-1 .u-image-6 {
  height: 954px;
  margin-top: -3936px;
  margin-bottom: 0;
}

.u-section-1 .u-image-7 {
  height: 942px;
  margin-top: 3144px;
  margin-bottom: 0;
}

.u-section-1 .u-image-8 {
  height: 940px;
  margin-top: 43px;
  margin-bottom: 0;
}

.u-section-1 .u-image-9 {
  height: 942px;
  margin-top: 43px;
  margin-bottom: 0;
}

.u-section-1 .u-image-10 {
  height: 961px;
  margin-top: 30px;
  margin-bottom: 0;
}

.u-section-1 .u-image-11 {
  height: 962px;
  margin-top: 30px;
  margin-bottom: 0;
}

.u-section-1 .u-image-12 {
  height: 961px;
  margin-top: 63px;
  margin-bottom: 0;
}

.u-section-1 .u-image-13 {
  height: 855px;
  margin-top: -12884px;
  margin-bottom: 14896px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 15484px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 200px;
    margin-right: 200px;
  }

  .u-section-1 .u-text-2 {
    color: rgb(139, 95, 5) !important;
    margin-left: 200px;
    margin-right: 200px;
  }

  .u-section-1 .u-image-1 {
    width: 940px;
    height: 290px;
    margin-top: 1552px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -276px;
  }

  .u-section-1 .u-image-3 {
    margin-top: -11px;
  }

  .u-section-1 .u-image-4 {
    margin-top: 110px;
  }

  .u-section-1 .u-image-5 {
    margin-top: 256px;
  }

  .u-section-1 .u-image-6 {
    margin-top: -6058px;
  }

  .u-section-1 .u-image-7 {
    margin-top: 3592px;
  }

  .u-section-1 .u-image-8 {
    margin-top: 501px;
  }

  .u-section-1 .u-image-9 {
    margin-top: 533px;
  }

  .u-section-1 .u-image-10 {
    margin-top: -1828px;
  }

  .u-section-1 .u-image-11 {
    margin-top: -3138px;
  }

  .u-section-1 .u-image-12 {
    margin-top: 519px;
  }

  .u-section-1 .u-image-13 {
    margin-top: -12913px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 15416px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 420px;
    margin-right: 420px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 420px;
    margin-right: 420px;
  }

  .u-section-1 .u-image-1 {
    width: 720px;
    height: 222px;
    margin-top: 2556px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 16369px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 540px;
    margin-left: 600px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 540px;
    margin-left: 600px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 167px;
    margin-top: 1726px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -266px;
  }

  .u-section-1 .u-image-3 {
    margin-top: -4px;
  }

  .u-section-1 .u-image-4 {
    margin-top: 117px;
  }

  .u-section-1 .u-image-5 {
    margin-top: 266px;
  }

  .u-section-1 .u-image-6 {
    margin-top: -6034px;
  }

  .u-section-1 .u-image-7 {
    margin-top: 3617px;
  }

  .u-section-1 .u-image-8 {
    margin-top: 526px;
  }

  .u-section-1 .u-image-9 {
    margin-top: 558px;
  }

  .u-section-1 .u-image-10 {
    margin-top: -1803px;
  }

  .u-section-1 .u-image-11 {
    margin-top: -3112px;
  }

  .u-section-1 .u-image-12 {
    margin-top: 544px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 16307px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    margin-right: 340px;
    margin-left: 800px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 340px;
    margin-left: 800px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 105px;
    margin-top: 1417px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -205px;
  }

  .u-section-1 .u-image-3 {
    margin-top: 46px;
  }

  .u-section-1 .u-image-4 {
    margin-top: 162px;
  }

  .u-section-1 .u-image-5 {
    margin-top: 332px;
  }

  .u-section-1 .u-image-6 {
    margin-top: -5875px;
  }

  .u-section-1 .u-image-7 {
    margin-top: 3784px;
  }

  .u-section-1 .u-image-8 {
    margin-top: 691px;
  }

  .u-section-1 .u-image-9 {
    margin-top: 723px;
  }

  .u-section-1 .u-image-10 {
    margin-top: -1638px;
  }

  .u-section-1 .u-image-11 {
    margin-top: -2943px;
  }

  .u-section-1 .u-image-12 {
    margin-top: 713px;
  }
}