.u-section-1 .u-sheet-1 {
  min-height: 20805px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  margin: 63px 6px 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.875rem;
  margin: 63px 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-image-1 {
  height: 581px;
  width: 1140px;
  margin: -18807px auto 0;
}

.u-section-1 .u-image-2 {
  height: 684px;
  width: 1140px;
  margin: 147px auto 0;
}

.u-section-1 .u-image-3 {
  width: 1240px;
  height: 920px;
  margin: 63px -50px 0;
}

.u-section-1 .u-image-4 {
  width: 1250px;
  height: 952px;
  margin: -4px -55px 0;
}

.u-section-1 .u-image-5 {
  width: 1147px;
  height: 1143px;
  margin: 0 -7px 0 auto;
}

.u-section-1 .u-image-6 {
  width: 1187px;
  height: 818px;
  margin: 0 -47px 0 auto;
}

.u-section-1 .u-image-7 {
  width: 1219px;
  height: 916px;
  margin: 0 -39px;
}

.u-section-1 .u-image-8 {
  width: 1180px;
  height: 1006px;
  object-position: 18.66% 100%;
  margin: 213px -40px 0 auto;
}

.u-section-1 .u-image-9 {
  width: 1140px;
  height: 1074px;
  margin: 95px auto 0;
}

.u-section-1 .u-image-10 {
  width: 1141px;
  height: 1029px;
  margin: 72px auto 0 0;
}

.u-section-1 .u-image-11 {
  width: 1140px;
  height: 1011px;
  margin: 549px auto 0;
}

.u-section-1 .u-image-12 {
  width: 1260px;
  height: 1053px;
  margin: -3px auto 0 -60px;
}

.u-section-1 .u-image-13 {
  width: 1140px;
  height: 713px;
  margin: 6px auto 0;
}

.u-section-1 .u-image-14 {
  width: 1140px;
  height: 693px;
  margin: 30px auto 0;
}

.u-section-1 .u-image-15 {
  width: 1142px;
  height: 684px;
  margin: 3494px auto 0 0;
}

.u-section-1 .u-image-16 {
  width: 1138px;
  height: 623px;
  margin: -3867px auto 0 1px;
}

.u-section-1 .u-image-17 {
  width: 1179px;
  height: 755px;
  object-position: 100% 50%;
  margin: 1672px -39px 0 auto;
}

.u-section-1 .u-image-18 {
  width: 1140px;
  height: 1043px;
  margin: -2102px auto 2744px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 17708px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 500px;
    margin-right: 500px;
  }

  .u-section-1 .u-text-2 {
    color: rgb(139, 95, 5) !important;
    margin-left: 500px;
    margin-right: 500px;
  }

  .u-section-1 .u-image-1 {
    height: 479px;
    width: 1139px;
    margin-top: -7954px;
    margin-right: -99px;
  }

  .u-section-1 .u-image-2 {
    height: 564px;
    margin-top: 16169px;
    margin-right: -100px;
  }

  .u-section-1 .u-image-3 {
    width: 940px;
    height: 707px;
    margin-top: -15173px;
    margin-right: auto;
    margin-left: 100px;
  }

  .u-section-1 .u-image-4 {
    width: 940px;
    height: 716px;
    margin-top: 2694px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-image-5 {
    width: 940px;
    height: 937px;
    margin-top: 11847px;
    margin-right: auto;
    margin-left: 100px;
  }

  .u-section-1 .u-image-6 {
    width: 940px;
    height: 648px;
    margin-top: 583px;
    margin-right: auto;
    margin-left: 100px;
  }

  .u-section-1 .u-image-7 {
    width: 470px;
    height: 353px;
    margin-top: -6380px;
    margin-right: auto;
    margin-left: 335px;
  }

  .u-section-1 .u-image-8 {
    width: 940px;
    height: 801px;
    margin-top: -2315px;
    margin-right: auto;
    margin-left: 100px;
  }

  .u-section-1 .u-image-9 {
    width: 470px;
    height: 443px;
    margin-top: 647px;
    margin-left: 335px;
  }

  .u-section-1 .u-image-10 {
    width: 470px;
    height: 424px;
    margin-top: -391px;
    margin-left: 335px;
  }

  .u-section-1 .u-image-11 {
    width: 940px;
    height: 834px;
    margin-top: 6652px;
    margin-left: 100px;
  }

  .u-section-1 .u-image-12 {
    width: 470px;
    height: 439px;
    margin-top: -5181px;
    margin-left: 100px;
  }

  .u-section-1 .u-image-13 {
    width: 470px;
    height: 293px;
    margin-top: -2554px;
    margin-left: 335px;
  }

  .u-section-1 .u-image-14 {
    width: 470px;
    height: 286px;
    margin-top: -558px;
    margin-left: 335px;
  }

  .u-section-1 .u-image-15 {
    width: 470px;
    height: 282px;
    margin-top: -429px;
    margin-left: 335px;
  }

  .u-section-1 .u-image-16 {
    width: 940px;
    height: 514px;
    margin-top: -1394px;
    margin-left: 100px;
  }

  .u-section-1 .u-image-17 {
    width: 470px;
    height: 301px;
    margin-top: 358px;
    margin-right: auto;
    margin-left: 335px;
  }

  .u-section-1 .u-image-18 {
    width: 470px;
    height: 430px;
    margin-top: -1647px;
    margin-left: 335px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 14759px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 90px;
    margin-left: 1050px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 90px;
    margin-left: 1050px;
  }

  .u-section-1 .u-image-1 {
    height: 367px;
    margin-top: -6979px;
    margin-right: -209px;
  }

  .u-section-1 .u-image-2 {
    height: 432px;
    margin-right: -210px;
  }

  .u-section-1 .u-image-3 {
    width: 720px;
    height: 542px;
    margin-left: 210px;
  }

  .u-section-1 .u-image-4 {
    width: 720px;
    height: 548px;
    margin-top: 629px;
  }

  .u-section-1 .u-image-5 {
    width: 720px;
    height: 718px;
    margin-left: 210px;
  }

  .u-section-1 .u-image-6 {
    width: 720px;
    height: 496px;
    margin-left: 210px;
  }

  .u-section-1 .u-image-7 {
    width: 360px;
    height: 270px;
    margin-left: 390px;
  }

  .u-section-1 .u-image-8 {
    width: 720px;
    height: 614px;
    margin-top: -2383px;
    margin-left: 210px;
  }

  .u-section-1 .u-image-9 {
    width: 360px;
    height: 339px;
    margin-top: 751px;
    margin-left: 390px;
  }

  .u-section-1 .u-image-10 {
    width: 360px;
    height: 325px;
    margin-top: -287px;
    margin-left: 390px;
  }

  .u-section-1 .u-image-11 {
    width: 720px;
    height: 639px;
    margin-top: 6751px;
    margin-left: 210px;
  }

  .u-section-1 .u-image-12 {
    width: 360px;
    height: 336px;
    margin-left: 210px;
  }

  .u-section-1 .u-image-13 {
    width: 360px;
    height: 224px;
    margin-top: -2451px;
    margin-left: 390px;
  }

  .u-section-1 .u-image-14 {
    width: 360px;
    height: 219px;
    margin-top: -489px;
    margin-left: 390px;
  }

  .u-section-1 .u-image-15 {
    width: 360px;
    height: 216px;
    margin-top: -362px;
    margin-left: 390px;
  }

  .u-section-1 .u-image-16 {
    width: 720px;
    height: 394px;
    margin-top: -1328px;
    margin-left: 210px;
  }

  .u-section-1 .u-image-17 {
    width: 360px;
    height: 231px;
    margin-left: 390px;
  }

  .u-section-1 .u-image-18 {
    width: 360px;
    height: 329px;
    margin-top: -1577px;
    margin-left: 390px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 12349px;
  }

  .u-section-1 .u-text-1 {
    margin-right: -360px;
    margin-left: 1500px;
  }

  .u-section-1 .u-text-2 {
    margin-right: -360px;
    margin-left: 1500px;
  }

  .u-section-1 .u-image-1 {
    height: 275px;
    margin-top: -7597px;
    margin-right: -299px;
  }

  .u-section-1 .u-image-2 {
    height: 324px;
    margin-top: 16185px;
    margin-right: -300px;
  }

  .u-section-1 .u-image-3 {
    width: 540px;
    height: 407px;
    margin-top: -15155px;
    margin-left: 300px;
  }

  .u-section-1 .u-image-4 {
    width: 540px;
    height: 411px;
    margin-top: 652px;
  }

  .u-section-1 .u-image-5 {
    width: 540px;
    height: 539px;
    margin-top: 11869px;
    margin-left: 300px;
  }

  .u-section-1 .u-image-6 {
    width: 540px;
    height: 372px;
    margin-top: 613px;
    margin-left: 300px;
  }

  .u-section-1 .u-image-7 {
    width: 270px;
    height: 203px;
    margin-top: -6360px;
    margin-left: 435px;
  }

  .u-section-1 .u-image-8 {
    width: 540px;
    height: 461px;
    margin-top: -2419px;
    margin-left: 300px;
  }

  .u-section-1 .u-image-9 {
    width: 270px;
    height: 254px;
    margin-top: 836px;
    margin-left: 435px;
  }

  .u-section-1 .u-image-10 {
    width: 270px;
    height: 244px;
    margin-top: -202px;
    margin-left: 435px;
  }

  .u-section-1 .u-image-11 {
    width: 540px;
    height: 479px;
    margin-top: 6832px;
    margin-left: 300px;
  }

  .u-section-1 .u-image-12 {
    width: 270px;
    height: 252px;
    margin-top: -5154px;
    margin-left: 300px;
  }

  .u-section-1 .u-image-13 {
    width: 270px;
    height: 168px;
    margin-top: -2367px;
    margin-left: 435px;
  }

  .u-section-1 .u-image-14 {
    width: 270px;
    height: 164px;
    margin-top: -433px;
    margin-left: 435px;
  }

  .u-section-1 .u-image-15 {
    width: 270px;
    height: 162px;
    margin-top: -307px;
    margin-left: 435px;
  }

  .u-section-1 .u-image-16 {
    width: 540px;
    height: 296px;
    margin-top: -1274px;
    margin-left: 300px;
  }

  .u-section-1 .u-image-17 {
    width: 270px;
    height: 173px;
    margin-top: 375px;
    margin-left: 435px;
  }

  .u-section-1 .u-image-18 {
    width: 270px;
    height: 247px;
    margin-top: -1519px;
    margin-left: 435px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 9666px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    margin-right: -860px;
    margin-left: 2000px;
  }

  .u-section-1 .u-text-2 {
    margin-right: -860px;
    margin-left: 2000px;
  }

  .u-section-1 .u-image-1 {
    height: 173px;
    margin-top: -6383px;
    margin-right: -399px;
  }

  .u-section-1 .u-image-2 {
    height: 204px;
    margin-top: 16287px;
    margin-right: -400px;
  }

  .u-section-1 .u-image-3 {
    width: 340px;
    height: 256px;
    margin-top: -15035px;
    margin-left: 400px;
  }

  .u-section-1 .u-image-4 {
    width: 340px;
    height: 259px;
    margin-top: 802px;
  }

  .u-section-1 .u-image-5 {
    width: 340px;
    height: 339px;
    margin-top: 12019px;
    margin-left: 400px;
  }

  .u-section-1 .u-image-6 {
    width: 340px;
    height: 234px;
    margin-top: 812px;
    margin-left: 400px;
  }

  .u-section-1 .u-image-7 {
    width: 170px;
    height: 128px;
    margin-top: -6227px;
    margin-left: 485px;
  }

  .u-section-1 .u-image-8 {
    width: 340px;
    height: 290px;
    margin-top: -2344px;
    margin-left: 400px;
  }

  .u-section-1 .u-image-9 {
    width: 170px;
    height: 160px;
    margin-top: 930px;
    margin-left: 485px;
  }

  .u-section-1 .u-image-10 {
    width: 170px;
    height: 154px;
    margin-top: -108px;
    margin-left: 485px;
  }

  .u-section-1 .u-image-11 {
    width: 340px;
    height: 302px;
    margin-top: 6922px;
    margin-left: 400px;
  }

  .u-section-1 .u-image-12 {
    width: 170px;
    height: 159px;
    margin-top: -4977px;
    margin-left: 400px;
  }

  .u-section-1 .u-image-13 {
    width: 170px;
    height: 106px;
    margin-top: -2274px;
    margin-left: 485px;
  }

  .u-section-1 .u-image-14 {
    width: 170px;
    height: 103px;
    margin-top: -371px;
    margin-left: 485px;
  }

  .u-section-1 .u-image-15 {
    width: 170px;
    height: 102px;
    margin-top: -246px;
    margin-left: 485px;
  }

  .u-section-1 .u-image-16 {
    width: 340px;
    height: 186px;
    margin-top: -1214px;
    margin-left: 400px;
  }

  .u-section-1 .u-image-17 {
    width: 170px;
    height: 109px;
    margin-top: 484px;
    margin-left: 485px;
  }

  .u-section-1 .u-image-18 {
    width: 170px;
    height: 156px;
    margin-top: -1455px;
    margin-left: 485px;
  }
}