.u-section-1 .u-sheet-1 {
  min-height: 6382px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  margin: 65px 6px 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.875rem;
  margin: 65px 0 0 12px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-image-1 {
  height: 733px;
  width: 1140px;
  margin: -3503px auto 0;
}

.u-section-1 .u-image-2 {
  height: 727px;
  width: 1140px;
  margin: 19px auto 0;
}

.u-section-1 .u-image-3 {
  height: 444px;
  width: 1140px;
  margin: 259px auto 0;
}

.u-section-1 .u-image-4 {
  height: 489px;
  width: 1140px;
  margin: 19px auto 0;
}

.u-section-1 .u-image-5 {
  height: 423px;
  object-position: 100% 5.98%;
  width: 1140px;
  margin: 772px auto 0 -12px;
}

.u-section-1 .u-image-6 {
  width: 570px;
  height: 182px;
  margin: 37px auto 0 0;
}

.u-section-1 .u-image-7 {
  height: 436px;
  width: 1134px;
  object-position: 97.46% 50%;
  margin: -200px auto 0 0;
}

.u-section-1 .u-image-8 {
  width: 811px;
  height: 527px;
  margin: 19px auto 0 0;
}

.u-section-1 .u-image-9 {
  width: 623px;
  height: 540px;
  margin: 19px auto 0 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.875rem;
  margin: -480px 19px 60px 729px;
}

.u-section-1 .u-btn-5 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-6 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-7 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-8 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 5779px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 200px;
    margin-right: 200px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 200px;
    margin-right: 200px;
  }

  .u-section-1 .u-image-1 {
    height: 604px;
    margin-right: -100px;
  }

  .u-section-1 .u-image-2 {
    height: 599px;
    width: 1141px;
    margin-right: -101px;
  }

  .u-section-1 .u-image-3 {
    height: 366px;
    margin-right: -100px;
  }

  .u-section-1 .u-image-4 {
    height: 403px;
    width: 1141px;
    margin-right: -101px;
  }

  .u-section-1 .u-image-5 {
    height: 329px;
    width: 940px;
    margin-left: 0;
  }

  .u-section-1 .u-image-6 {
    width: 470px;
    height: 150px;
    margin-top: 105px;
    margin-left: 200px;
  }

  .u-section-1 .u-image-7 {
    object-position: 100% 50%;
    height: 362px;
    width: 940px;
    margin-top: -168px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-1 .u-image-8 {
    margin-top: 1378px;
  }

  .u-section-1 .u-image-9 {
    margin-top: -1266px;
    margin-right: 200px;
  }

  .u-section-1 .u-text-3 {
    margin: 253px 660px 0 200px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 5093px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 420px;
    margin-right: 420px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 420px;
    margin-right: 420px;
  }

  .u-section-1 .u-image-1 {
    height: 463px;
    margin-right: -210px;
  }

  .u-section-1 .u-image-2 {
    height: 459px;
    margin-right: -211px;
  }

  .u-section-1 .u-image-3 {
    height: 280px;
    margin-right: -210px;
  }

  .u-section-1 .u-image-4 {
    height: 309px;
    margin-right: -211px;
  }

  .u-section-1 .u-image-5 {
    height: 252px;
    width: 720px;
  }

  .u-section-1 .u-image-6 {
    margin-right: 250px;
    margin-left: auto;
  }

  .u-section-1 .u-image-7 {
    height: 277px;
    width: 720px;
  }

  .u-section-1 .u-image-8 {
    width: 720px;
    height: 468px;
    margin-top: 4594px;
  }

  .u-section-1 .u-image-9 {
    margin-top: -4453px;
    margin-right: auto;
    margin-left: 210px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 224px;
    margin-left: 420px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 4390px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 540px;
    margin-left: 600px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 540px;
    margin-left: 600px;
  }

  .u-section-1 .u-image-1 {
    height: 347px;
    margin-right: -300px;
  }

  .u-section-1 .u-image-2 {
    height: 344px;
    margin-right: -301px;
  }

  .u-section-1 .u-image-3 {
    height: 210px;
    margin-right: -300px;
  }

  .u-section-1 .u-image-4 {
    height: 232px;
    margin-right: -301px;
  }

  .u-section-1 .u-image-5 {
    height: 189px;
    width: 540px;
  }

  .u-section-1 .u-image-6 {
    margin-right: 70px;
  }

  .u-section-1 .u-image-7 {
    height: 208px;
    width: 540px;
  }

  .u-section-1 .u-image-8 {
    width: 540px;
    height: 351px;
  }

  .u-section-1 .u-image-9 {
    width: 540px;
    height: 468px;
    margin-top: -4336px;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-top: 183px;
    margin-right: 540px;
    margin-left: 600px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 3475px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    margin-right: 340px;
    margin-left: 800px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 340px;
    margin-left: 800px;
  }

  .u-section-1 .u-image-1 {
    height: 218px;
    margin-right: -400px;
  }

  .u-section-1 .u-image-2 {
    height: 217px;
    margin-right: -401px;
  }

  .u-section-1 .u-image-3 {
    height: 132px;
    margin-right: -400px;
  }

  .u-section-1 .u-image-4 {
    height: 146px;
    margin-right: -401px;
  }

  .u-section-1 .u-image-5 {
    height: 119px;
    width: 340px;
  }

  .u-section-1 .u-image-6 {
    width: 340px;
    height: 109px;
    margin-right: 0;
  }

  .u-section-1 .u-image-7 {
    height: 131px;
    width: 340px;
    margin-top: -127px;
  }

  .u-section-1 .u-image-8 {
    width: 340px;
    height: 221px;
    margin-top: 4407px;
  }

  .u-section-1 .u-image-9 {
    width: 340px;
    height: 295px;
    margin-top: -4018px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 181px;
    margin-right: 340px;
    margin-left: 800px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 500px;
}