.u-section-1 .u-sheet-1 {
  min-height: 1489px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  margin: 0 6px;
}

.u-section-1 .u-text-2 {
  font-size: 1.875rem;
  margin: 56px 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.875rem;
  margin: 241px 0 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-image-1 {
  height: 599px;
  margin-top: 56px;
  margin-bottom: 21px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-left: 300px;
    margin-right: 300px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -804px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 267px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 464px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 510px;
    margin-left: 630px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 49939px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 219px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -41063px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-right: 240px;
    margin-left: 900px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 49748px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -40872px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    margin-right: -60px;
    margin-left: 1200px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 49413px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 171px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -40585px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 3557px;
}

.u-section-2 .u-text-1 {
  font-size: 1.875rem;
  margin: 20px 0 0;
}

.u-section-2 .u-image-1 {
  height: 734px;
  width: 1244px;
  margin: -77px -52px 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.875rem;
  margin: 30px 0 0;
}

.u-section-2 .u-image-2 {
  height: 1041px;
  width: 1189px;
  margin: 0 auto 0 -49px;
}

.u-section-2 .u-text-3 {
  font-size: 1.875rem;
  margin: 11px 0 0;
}

.u-section-2 .u-image-3 {
  height: 1049px;
  width: 1200px;
  margin: 0 -30px 30px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2933px;
  }

  .u-section-2 .u-image-1 {
    height: 555px;
    width: 940px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-2 {
    height: 823px;
    width: 940px;
    margin-left: 0;
  }

  .u-section-2 .u-image-3 {
    height: 821px;
    width: 940px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2418px;
  }

  .u-section-2 .u-image-1 {
    height: 425px;
    width: 720px;
  }

  .u-section-2 .u-image-2 {
    height: 630px;
    width: 720px;
  }

  .u-section-2 .u-image-3 {
    height: 629px;
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1998px;
  }

  .u-section-2 .u-image-1 {
    height: 319px;
    width: 540px;
  }

  .u-section-2 .u-image-2 {
    height: 473px;
    width: 540px;
  }

  .u-section-2 .u-image-3 {
    height: 472px;
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1530px;
  }

  .u-section-2 .u-image-1 {
    height: 201px;
    width: 340px;
  }

  .u-section-2 .u-image-2 {
    height: 298px;
    width: 340px;
  }

  .u-section-2 .u-image-3 {
    height: 297px;
    width: 340px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 4809px;
}

.u-section-3 .u-text-1 {
  font-size: 1.875rem;
  margin: 68px 0 0;
}

.u-section-3 .u-image-1 {
  width: 1273px;
  height: 932px;
  margin: 12px -133px 0 auto;
}

.u-section-3 .u-text-2 {
  font-size: 1.875rem;
  margin: 32px 0 0;
}

.u-section-3 .u-image-2 {
  height: 914px;
  width: 1198px;
  margin: 0 auto 0 -58px;
}

.u-section-3 .u-text-3 {
  font-size: 1.875rem;
  margin: 33px 0 0;
}

.u-section-3 .u-image-3 {
  width: 1358px;
  height: 815px;
  margin: 12px -109px 0;
}

.u-section-3 .u-text-4 {
  font-size: 1.875rem;
  margin: 32px 0 0;
}

.u-section-3 .u-image-4 {
  width: 1253px;
  height: 956px;
  margin: 32px -56px 58px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 3880px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 400px;
    margin-right: 400px;
  }

  .u-section-3 .u-image-1 {
    width: 940px;
    height: 688px;
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    margin-left: 400px;
    margin-right: 400px;
  }

  .u-section-3 .u-image-2 {
    height: 718px;
    width: 1140px;
    margin-right: -100px;
    margin-left: auto;
  }

  .u-section-3 .u-text-3 {
    margin-left: 400px;
    margin-right: 400px;
  }

  .u-section-3 .u-image-3 {
    width: 940px;
    height: 573px;
    margin-right: 50px;
    margin-left: 100px;
  }

  .u-section-3 .u-text-4 {
    margin-top: -1px;
    margin-left: 250px;
    margin-right: 250px;
  }

  .u-section-3 .u-image-4 {
    width: 940px;
    height: 718px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 3251px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 300px;
    margin-left: 840px;
  }

  .u-section-3 .u-image-1 {
    width: 720px;
    height: 527px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 300px;
    margin-left: 840px;
  }

  .u-section-3 .u-image-2 {
    height: 550px;
    margin-right: -210px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 300px;
    margin-left: 840px;
  }

  .u-section-3 .u-image-3 {
    width: 720px;
    height: 439px;
    margin-right: 160px;
    margin-left: 210px;
  }

  .u-section-3 .u-text-4 {
    margin-top: 133px;
    margin-right: 560px;
    margin-left: 580px;
  }

  .u-section-3 .u-image-4 {
    width: 720px;
    height: 550px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2737px;
  }

  .u-section-3 .u-text-1 {
    margin-right: -60px;
    margin-left: 1200px;
  }

  .u-section-3 .u-image-1 {
    width: 540px;
    height: 395px;
  }

  .u-section-3 .u-text-2 {
    margin-right: -60px;
    margin-left: 1200px;
  }

  .u-section-3 .u-image-2 {
    height: 413px;
    margin-right: -300px;
  }

  .u-section-3 .u-text-3 {
    margin-right: -60px;
    margin-left: 1200px;
  }

  .u-section-3 .u-image-3 {
    width: 540px;
    height: 329px;
    margin-right: 250px;
    margin-left: 300px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 290px;
    margin-left: 850px;
  }

  .u-section-3 .u-image-4 {
    width: 540px;
    height: 413px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2165px;
  }

  .u-section-3 .u-text-1 {
    margin-right: -460px;
    margin-left: 1600px;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 249px;
  }

  .u-section-3 .u-text-2 {
    margin-right: -460px;
    margin-left: 1600px;
  }

  .u-section-3 .u-image-2 {
    height: 260px;
    margin-right: -400px;
  }

  .u-section-3 .u-text-3 {
    margin-right: -460px;
    margin-left: 1600px;
  }

  .u-section-3 .u-image-3 {
    width: 340px;
    height: 207px;
    margin-right: 350px;
    margin-left: 400px;
  }

  .u-section-3 .u-text-4 {
    margin-right: -10px;
    margin-left: 1150px;
  }

  .u-section-3 .u-image-4 {
    width: 340px;
    height: 260px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 407px;
}

.u-section-4 .u-text-1 {
  font-size: 1.875rem;
  margin: -2px 0 60px;
}