.u-section-1 .u-sheet-1 {
  min-height: 2918px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  margin: 64px 6px 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.875rem;
  margin: 52px 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-image-1 {
  height: 710px;
  margin-top: -1528px;
  margin-bottom: 0;
}

.u-section-1 .u-image-2 {
  height: 658px;
  margin-bottom: 123px;
  margin-top: 37px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 12286px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 300px;
    margin-right: 300px;
  }

  .u-section-1 .u-text-2 {
    color: rgb(139, 95, 5) !important;
    margin-left: 300px;
    margin-right: 300px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -5127px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 12053px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 510px;
    margin-left: 630px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 510px;
    margin-left: 630px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -5360px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 11862px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 240px;
    margin-left: 900px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 240px;
    margin-left: 900px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -5551px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 11651px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    margin-right: -60px;
    margin-left: 1200px;
  }

  .u-section-1 .u-text-2 {
    margin-right: -60px;
    margin-left: 1200px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -5762px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1044px;
}

.u-section-2 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.875rem;
  margin: 20px 0 35px;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-3 {
  background-image: none;
  padding: 0;
} .u-section-3 {
  min-height: 2954px;
}

.u-section-3 .u-sheet-1 {
  min-height: 3922px;
}

.u-section-3 .u-text-1 {
  font-size: 1.875rem;
  margin: 26px 0 0;
}

.u-section-3 .u-image-1 {
  height: 1019px;
  width: 1137px;
  margin: 24px auto 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.875rem;
  margin: 0;
}

.u-section-3 .u-image-2 {
  height: 981px;
  margin-top: 24px;
  margin-bottom: 0;
}

.u-section-3 .u-text-3 {
  font-size: 1.875rem;
  text-align: start;
  font-weight: 700;
  margin: 115px 0 0;
}

.u-section-3 .u-image-3 {
  height: 1058px;
  margin-top: 35px;
  margin-bottom: 0;
}

.u-section-3 .u-text-4 {
  font-size: 1.875rem;
  text-align: start;
  margin: 39px 0 26px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 3745px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 100px;
    margin-right: 100px;
  }

  .u-section-3 .u-image-1 {
    height: 842px;
    width: 940px;
    margin-left: 100px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 100px;
    margin-right: 100px;
  }

  .u-section-3 .u-image-2 {
    margin-top: 556px;
  }

  .u-section-3 .u-text-3 {
    margin-top: -509px;
  }

  .u-section-3 .u-image-3 {
    margin-top: 14px;
  }

  .u-section-3 .u-text-4 {
    margin-top: -327px;
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    min-height: 2757px;
  }

  .u-section-3 .u-sheet-1 {
    min-height: 3548px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 210px;
    margin-right: 210px;
  }

  .u-section-3 .u-image-1 {
    height: 645px;
    width: 720px;
    margin-left: 210px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 210px;
    margin-right: 210px;
  }

  .u-section-3 .u-image-2 {
    margin-top: 1229px;
  }

  .u-section-3 .u-text-3 {
    margin-top: -1277px;
  }

  .u-section-3 .u-image-3 {
    margin-top: -82px;
  }
}

@media (max-width: 767px) {
   .u-section-3 {
    min-height: 2596px;
  }

  .u-section-3 .u-sheet-1 {
    min-height: 3387px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 300px;
    margin-right: 300px;
  }

  .u-section-3 .u-image-1 {
    height: 484px;
    width: 540px;
    margin-left: 300px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 300px;
    margin-right: 300px;
  }

  .u-section-3 .u-image-2 {
    margin-top: 21281px;
  }

  .u-section-3 .u-text-3 {
    margin-top: -18290px;
  }

  .u-section-3 .u-image-3 {
    margin-top: -130px;
  }

  .u-section-3 .u-text-4 {
    margin-top: -347px;
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    min-height: 2416px;
  }

  .u-section-3 .u-sheet-1 {
    min-height: 3208px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 400px;
    margin-right: 400px;
  }

  .u-section-3 .u-image-1 {
    height: 305px;
    width: 340px;
    margin-left: 400px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 400px;
    margin-right: 400px;
  }

  .u-section-3 .u-image-2 {
    margin-top: 21108px;
  }

  .u-section-3 .u-text-3 {
    margin-top: -18111px;
  }

  .u-section-3 .u-image-3 {
    margin-top: -418px;
  }

  .u-section-3 .u-text-4 {
    margin-top: -226px;
    margin-bottom: 1px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 3848px;
}

.u-section-4 .u-text-1 {
  font-size: 1.875rem;
  text-align: start;
  margin: 46px 0 0;
}

.u-section-4 .u-image-1 {
  height: 1040px;
  width: 1120px;
  margin: 6px auto 0 0;
}

.u-section-4 .u-text-2 {
  font-size: 1.875rem;
  text-align: start;
  margin: -10px 0 0;
}

.u-section-4 .u-image-2 {
  height: 1058px;
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-4 .u-text-3 {
  font-size: 1.875rem;
  text-align: start;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-4 .u-image-3 {
  height: 1058px;
  margin-bottom: 0;
  margin-top: 30px;
}

.u-section-4 .u-text-4 {
  font-size: 1.875rem;
  text-align: start;
  margin: 20px 0 4px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 3680px;
  }

  .u-section-4 .u-image-1 {
    height: 872px;
    width: 940px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 158px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 3476px;
  }

  .u-section-4 .u-image-1 {
    height: 668px;
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 3309px;
  }

  .u-section-4 .u-image-1 {
    height: 501px;
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 3123px;
  }

  .u-section-4 .u-image-1 {
    height: 315px;
    width: 340px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 3843px;
}

.u-section-5 .u-text-1 {
  font-size: 1.875rem;
  text-align: start;
  margin: 46px 0 0;
}

.u-section-5 .u-image-1 {
  height: 1043px;
  width: 1120px;
  margin: 10px auto 0 0;
}

.u-section-5 .u-text-2 {
  font-size: 1.875rem;
  text-align: start;
  margin: -17px 0 0;
}

.u-section-5 .u-image-2 {
  height: 1058px;
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-5 .u-text-3 {
  font-size: 1.875rem;
  text-align: start;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-5 .u-image-3 {
  height: 1058px;
  margin-bottom: 0;
  margin-top: 30px;
}

.u-section-5 .u-text-4 {
  font-size: 1.875rem;
  text-align: start;
  margin: 20px 0 4px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 3675px;
  }

  .u-section-5 .u-image-1 {
    height: 875px;
    width: 940px;
  }

  .u-section-5 .u-text-2 {
    margin-top: 151px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 3470px;
  }

  .u-section-5 .u-image-1 {
    height: 670px;
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 3303px;
  }

  .u-section-5 .u-image-1 {
    height: 503px;
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 3117px;
  }

  .u-section-5 .u-image-1 {
    height: 317px;
    width: 340px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 674px;
}

.u-section-6 .u-text-1 {
  font-size: 1.875rem;
  margin: 21px 0 60px;
}